<div class="container-fluid">
  <div class="part_search">
    <div class="icon-search">
      <div>مبيعات التذاكر</div>

      <input type="text" class="form-control styleInput"  placeholder="بحث عن ..." >
      <!-- <i class="fa-solid fa-magnifying-glass  icon_position"></i> -->
      <div>  <button class="button_icon"><img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/73ada892449cb71dc1a9ac640de489e079591314e612151aa1ce236fe6397994?apiKey=56b3eaf074254bf6b0c47ab166da0998&"
        class="clickable-item"
      /></button>
      <button class="button_icon">
        <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/2a1e29bb0e6b28254114f1c57e3f7812bf8772061140c925936d8d6b89ee76a9?apiKey=56b3eaf074254bf6b0c47ab166da0998&"
        class="img-14 clickable-item"
      />


      </button>
  </div>
    </div>
    <div class="icon"></div>
    <div class="booktickt">
      <button class="button_bookTickt text-light">حجز تذكرة جديدة</button>
      <div class="div-51">مفعلة</div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1"></label>
      </div>
    </div>

  </div>

</div>
